.c-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    @media (min-width: 778px) {
        margin: 4rem 0;
    }
}

.b-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 778px) {
        -webkit-box-shadow: 0px 26px 28px -15px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 26px 28px -15px rgba(0, 0, 0, 1);
        box-shadow: 0px 26px 28px -15px rgba(0, 0, 0, 1);
        padding: 1rem 2rem;
        border: 1px solid #2b81a8;
        border-radius: 1rem;
        background-color: #0b4f6e;
    }
}

.b-img-login {
    width: 100%;
    max-width: 45%;
    @media (min-width: 778px) {
        max-width: 50%;
        margin-top: 2.5rem;
    }
    &__image {
        width: 100%;
    }
}

.b-form {
    margin-top: 1.5rem;
    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        @media (min-width: 778px) {
            margin-bottom: 1rem;
        }
        label {
            color: #ffffffc5;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            margin: 0 0 0.5rem 1.8rem;
            @media (min-width: 778px) {
                font-size: 14px;
            }
        }
    }
}


.b-content-info {
    margin-top: 1rem;
    &__text {
        margin: 0;
        width: 18rem;
        text-align: center;
        font-size: 0.7rem;
        color: #ffffffc5;
        font-family: "Montserrat", sans-serif;
        line-height: 1.2rem;
    }
    &__link {
        color: #00ffa1;
    }
}

.b-line {
    width: 100%;
    max-width: 90%;
    margin-top: 0.4rem;
    @media (min-width: 778px) {
        max-width: 75%;
    }
    &__img {
        width: 100%;
    }
}

.b-register {
    margin-top: 0.3rem;
    &__text {
        cursor: pointer;
        margin: 0;
        font-size: 1rem;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        @media (min-width: 778px) {
            margin-bottom: 2.5rem;
        }
    }
}

.b-button-submit {
    margin-top: 1.8rem;
    @media (min-width: 778px) {
        display: flex;
        justify-content: center;
    }
}
