.c-containerNavbar{
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    clear:both;
    height: 92px;
    width: 100%;
    border: black 10px;
    border-radius: 14px;
    background-color: rgb( 255, 255, 255);
}
.c-containerLink{
    display: flex;
    flex-direction: column;
}
.c-linkNav{
    text-decoration: none;
    font-family: 10px;
    color: rgb(11, 79, 110);
    padding: 0.5rem;
}

.c-linkNav:hover{
    font-weight: bold;
}

.c-iconNavbar{
    color: rgb(11, 79, 110);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-iconNavbar:hover{
    font-weight: bold;
}
