.c-pageTitle{
    color: rgb( 13, 32, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 250, 251);
    height: 67px;
    font-family: "Montserrat", sans-serif;
}

.c-list{
    color: rgb(217, 217, 219);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    @media (min-width: 778px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        gap: 10px;
    }
}

.c-mainContainer{
    background-color: rgb( 13, 32, 42);
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }
}


.c-cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    @media (min-width: 778px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.c-cardBodyContainer{
    height: 130px;
    width: 250px;
    position: absolute;
    margin-bottom: 50px;
}

.c-imgContainer{
    position: relative;
}

.c-containerText{
    background-color: rgb( 248, 250, 251);
}


.c-nameText{
    color: rgb( 11, 79, 110);
    text-align: center;
}

.c-professionText{
    color: rgb( 0, 179, 205);
    text-align: center;
}

.c-containerFooterCard{
    display: flex;
    justify-content: space-around;
    
}

.c-textCard{
    color: rgb(157, 157, 158);
}