.c-candidateTitle{
    color: rgb( 13, 32, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-container{
    background-color: rgb( 13, 32, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.c-imgCandidate{
    /* 
    max-width:250px;
    max-height: 250px; */
    /* border-radius:150px;  */
}

.c-nameText{
    color: rgb( 11, 79, 110);
    text-align: center;
}

.c-professionText{
    color: rgb( 0, 179, 205);
    text-align: center;
}

.c-containerFooterCard{
    display: flex;
    justify-content: space-around;
}

.c-textCard{
    color: rgb( 217, 217,219);
}