.c-pageContainerTitleDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
}

.c-pageTitleDetail{
    font-size: 20px;
    letter-spacing: -0.27px;
    color:rgb(255, 255, 255);
 
}

.c-imgDetailCandidate{
    display: block;
    margin: auto;
}

.c-cardDetailContainer{
    background-color: rgb(248, 250, 251);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.c-detailCandidateName{
    font-size: 34px;
    letter-spacing: 0.45px;
    color: rgb(13, 32, 42);
    padding-top: 15px;
}

.c-detailCandidateProfession{
    font-size: 20px;
    letter-spacing: 0.22px;
    color: rgb(13, 32, 42);
    margin-top: 15px;
}

.c-containerIcons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.c-containerIcons--icon{
    width: 30px;
    height: 30px;
    color:rgb(11, 79, 110);
    margin-left: 1rem;
}

.c-containerPersonalData{
    width: 100%;
    text-align: start;
    padding-left: 20px;
}

.c-containerPersonalData--title{
    color:rgb(11, 79, 110);
    font-size: 22px;
    margin-bottom: 15px;
}

.c-containerPersonalData--text{
    color:rgb(109, 114, 120);
    font-size: 18px;
    letter-spacing: -0.24px;
}

.c-containerPersonalData--icon{
    width: 20px;
    height: 30px;
    color:rgb(0, 179, 205);
    margin-right: 15px;
}

.c-containerKey{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: start;
    padding-left: 20px;
    margin-top: 35px;
}

.c-containerKey--title{
    color:rgb(11, 79, 110);
    font-size: 22px;
    margin-bottom: 15px;
}

.c-containerKey--containerText{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-right: 15px;
    gap: 2px;
}

.c-containerKey--text{
    font-size: 15px;
    color: rgb( 11, 79, 110);
    letter-spacing: -0.2px;
    background-color: rgb( 216, 238, 248);
    padding: 0 15px;
    border-radius: 8px;
    height: 39px;
    width: 93px;
}

.c-containerKey--text2{
    font-size: 15px;
    color: rgb(216, 238, 248);
    letter-spacing: -0.2px;
    background-color: rgb(0, 179, 205);
    padding: 0 15px;
    border-radius: 8px;
    height: 39px;
    width: 93px;
}

.c-containerFormation{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: start;
    padding-left: 20px;
    margin-top: 35px;
}

.c-containerFormation--title{
    color:rgb(11, 79, 110);
    font-size: 22px;
    margin-bottom: 15px;
}

.c-containerFormation--containerText{
    display: flex;
   
}

.c-containerFormation--text{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.24px;
    color:rgb(0, 179, 205);
}

.c-containerFormation--text2{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.24px;
    padding-left: 15px;
    color: rgb(109, 114, 120);
   
}