.c-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.c-row{
    padding: 0.8em;
    
}
.c-input{
    border-radius: 4px;
    width: 15em;
    height: 2em;
    &:hover{
        box-shadow: 11px 6px 5px rgb(92, 89, 89) ;
        opacity: 0.5;
    }
}
.c-Text{
    background-color: white;
    border :green;
}
.c-back{
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: baseline;
    margin-right: 3em;
}
.c-volvera{
    display: flex;
    align-content: center;
    width:15%;
    height: 10%;
    margin-top: 1.78em;
    margin-right: 1em;
    margin-left: 2em;
    &:hover{
     box-shadow: 11px 6px 5px rgb(131, 128, 128) ;

    }
}